# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Logs
logs/
*.log

# Models
models/checkpoints/*
!models/checkpoints/.gitkeep

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Tensorboard
runs/
/app_tf/.terraform
app_tf/terraform.tfstate
app_tf/terraform.tfstate.backup
/config
infra_tf/terraform.tfstate
infra_tf/terraform.tfstate.backup
/infra_tf/.terraform
infra_tf/.terraform.lock.hcl
.env
TODO.md
/pinhas_model/models
/dags/pinhas_model/models
/dags/pinhas_model/data
