# custom-values.yaml

executor: "KubernetesExecutor"

postgresql:
  enabled: true
  image:
    repository: bitnami/postgresql
    tag: "15"
    pullPolicy: IfNotPresent
  primary:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi

webserver:
  enabled: true
  replicas: 1
  service:
    type: LoadBalancer 
  resources:
    requests:
      cpu: 200m 
      memory: 512Mi

scheduler:
  replicas: 1
  resources:
    requests:
      cpu: 200m
      memory: 512Mi

workers:
  resources:
    requests:
      cpu: 200m
      memory: 512Mi

triggerer:
  enabled: false
dagProcessor:
  enabled: false

statsd:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi

dags:
  gitSync:
    enabled: true
    repo: "https://github.com/guilhermefrazao/Trabalho_Final_PDM.git"
    branch: "feat/infra"
    rev: "HEAD"
    depth: 1
    subPath: "dags" 

logs:
  persistence:
    enabled: true
    size: 10Gi