<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo de Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>🎬 Catálogo de Filmes</h1>
    </header>

    <main>
        <div id="filmes-container" class="grid"></div>
    </main>

    <footer>
        <p></p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
